.head {
  background-color: #F5F7F7;
  border-bottom: solid 1px #E9EBEB;
}

.button {
  display: inline-block;
  border: 2px solid #0089ec;
  background: #0089ec;
  color: #ffffff;
  text-decoration: none;
  padding: .67em 1.25em;
  font-size: 22px;
}

.button:hover {
  color: white;
}

.container {
  width: 900px;
}

pre code {
    font-size: 17px;
    padding-left: 10px;
}

.heading__anchor {
    font-style: italic;
}

.heading__text {
    background: #ffffff;
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
}

h2 {
    text-align: center;
    position: relative;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin: 60px -80px;
}

h3 {
    margin: 60px 0;
}

h3 > span {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    background-color: #ffebaf;
    border: solid 1px #ffd792;
    padding: 5px 10px;
    border-radius: 5px;
}

.heading__text:after {
    content: " ";
    border-bottom: 1px solid #d9d9d9;
    height: 0;
    position: absolute;
    bottom: .5em;
    z-index: -1;
    right: 0;
    left: 0;
    display: block;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

pre {
    margin-bottom: 25px;
}

.example {
    border: solid 1px #dedede;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
}

.nav-tabs {
    margin-bottom: 30px;
    margin-top: 50px;
}

.nav.nav-tabs a {
    font-size: 18px;
}

.head_title {
    font-size: 18px;
    color: #adadad;
    padding-top: 5px;
    padding-left: 15px;
}

.contents {
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
}

.contents ul {
    list-style: none;
    margin: 0;
    padding: 0;
}